@charset "UTF-8";
.ml-0 {
    margin-left: 0px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-0 {
    margin-right: 0px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/MuseoCyrl/MuseoCyrl100.otf") format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/MuseoCyrl/MuseoCyrl300.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/MuseoCyrl/MuseoCyrl500.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/MuseoCyrl/MuseoCyrl700.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/MuseoCyrl/MuseoCyrl900.otf") format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/MuseoCyrl/MuseoCyrl100Italic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/MuseoCyrl/MuseoCyrl300Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/MuseoCyrl/MuseoCyrl500Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/MuseoCyrl/MuseoCyrl700Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/MuseoCyrl/MuseoCyrl900Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "UrbanCircus";
    src: url("../fonts/UrbanCircusDeco/UrbanCircusDeco.otf") format("opentype");
}

body {
    font-family: "MuseoCyrl";
    font-weight: 100;
}

.urbanCircus {
    font-family: "UrbanCircus";
}

.fw100 {
    font-weight: 100 !important;
}

.fw300 {
    font-weight: 300;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
    font-weight: 700;
}

.fw900 {
    font-weight: 900;
}

.fs30 {
    font-size: 30px;
}

.fs25 {
    font-size: 25px;
}

.fs20 {
    font-size: 20px;
}

.fs15 {
    font-size: 15px;
}

.fs14 {
    font-size: 14px;
}

.fs13 {
    font-size: 13px;
}

.fs10 {
    font-size: 10px;
}

.fc-orange {
    color: #E69A46 !important;
}

.fc-brown {
    color: #8E5D36 !important;
}

.fc-dark-brown {
    color: #3B2313 !important;
}

.fc-light-brown {
    color: #AA4A00 !important;
}

.text-underline {
    text-decoration: underline;
}

.text-uppercase {
    text-transform: uppercase;
}

header ul.side-nav.fixed {
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
}

@media only screen and (max-width: 992px) {
    header ul.side-nav.fixed {
        width: 100%;
    }
}

header ul.side-nav.fixed li.logo {
    margin-bottom: 0px;
    margin-top: 20px;
}

header ul.side-nav.fixed li.menu {
    margin-bottom: 20px;
}

header ul.side-nav.fixed li.address-schedule {
    padding: 0 10px;
    line-height: 20px;
}

header ul.side-nav.fixed li.address-schedule .schedule {
    /*
    padding-right: 45px;
    background: url(../images/header/phone.png) center right no-repeat;
    */
}

header ul.side-nav.fixed ul.nav-menu {
    width: 100%;
}

header ul.side-nav.fixed ul.nav-menu hr {
    width: 132px;
}

header ul.side-nav.fixed ul.nav-menu li a {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
}

div.userView {
    position: absolute;
    top: 0;
    width: 100%;
}

img.logo {
    width: 90%;
    max-width: 140px;
    height: auto;
}

@media only screen and (max-width: 1) {
    .width {
        width: 100% !important;
        margin-bottom: 20px;
    }
}

.navbar-search img.plus {
    position: absolute;
    top: 0;
    left: 194px;
}

.navbar-search div.input-field {
    padding: 0 25px;
    line-height: 0;
}

.navbar-search div.input-field input:not([type=submit]) {
    width: 100%;
    max-width: 200px;
    border: none;
    height: 30px;
    opacity: 0.5;
    background: #fff;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0;
    display: inline-block;
}

.navbar-search div.input-field .plus {
    background: url("../images/header/plus_header.png");
    border: 0;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 30px;
    position: absolute;
    margin-left: 5px;
}

.paddingLeft {
    padding-left: 15px;
}

.social-header {
    margin: 0 20px 0 20px;
}

/*---------------------------------------------------------------------*/
a#logo {
    height: auto;
}

nav.top-nav {
    padding: 10px 0;
    height: 100px;
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
}

@media only screen and (max-width: 992px) {
    header nav.top-nav {
        height: auto;
    }
}

nav.top-nav.static .page-title a {
    display: inline-block;
    padding: 20px 15px;
}

nav.top-nav.static .back {
    position: relative;
}

nav.top-nav.static .back:after {
    content: url("../images/arrowHeader.png");
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 100%;
}

@media only screen and (min-width: 992px) {
    nav.top-nav .search-left {
        position: relative;
    }
}

nav.top-nav .page-header .maxW {
    max-width: 100px;
}

nav.top-nav i {
    font-size: 72px;
    cursor: pointer;
}

nav.top-nav ul li {
    line-height: 20px;
    display: inline-block;
}

nav.top-nav ul li a {
    line-height: 20px;
    padding: 0;
}

nav.top-nav ul li .remind-pass {
    width: 300px;
    top: 40px;
}

nav.top-nav ul li .remind-pass .input-field .input-gradient {
    padding: 2px;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: -moz-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
}

nav.top-nav ul li .remind-pass .input-field .input-gradient.focus {
    background: -webkit-linear-gradient(-51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: -moz-linear-gradient(-51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: linear-gradient(-51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    padding-bottom: 3px;
    margin-bottom: 14px;
}

nav.top-nav ul li .remind-pass .input-field .input-gradient input:not([type=submit]) {
    height: 25px;
    margin-bottom: 0;
    padding: 15px 10px;
    color: #8e5d36;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border: none;
}

nav.top-nav ul li .remind-pass .input-field label {
    position: static;
    display: block;
    margin-bottom: 10px;
}

nav.top-nav ul li .remind-pass .dash {
    margin: 5px 0;
}

nav.top-nav ul li .remind-pass input {
    margin-bottom: 10px;
}

nav.top-nav ul li .remind-pass:before {
    content: ' ';
    position: absolute;
    top: -35px;
    right: 35px;
    border: 17px solid transparent;
    border-bottom: 17px solid #E5C595;
    display: block;
    width: 0;
    height: 0;
}

nav.top-nav ul li .remind-pass:after {
    content: ' ';
    position: absolute;
    top: -23px;
    right: 41px;
    border: 11px solid transparent;
    border-bottom: 11px solid #fff;
    display: block;
    width: 0;
    height: 0;
}

nav.top-nav ul li .remind-pass span.title-insert-cabinet {
    position: absolute;
    top: -21px;
    left: 27px;
}

nav.top-nav ul li .remind-pass form input {
    width: 80%;
    height: 20px;
}

nav.top-nav ul li .remind-pass form input:last-child {
    background: none;
    border: none;
}

nav.top-nav ul li .input-field label {
    font-size: 15px;
    color: #fff;
}

nav.top-nav ul li .select-wrapper .caret {
    color: #fff;
}

nav.top-nav ul li .select-wrapper input.select-dropdown {
    margin-top: 25px;
}

@media only screen and (max-width: 992px) {
    nav.top-nav ul li .input-search .input-field {
        margin-top: 5px;
    }
}

nav.top-nav ul li .input-search input.search-header-input {
    background: rgba(255, 255, 255, 0.5);
    padding-right: 30px;
    margin: 0;
    height: 30px;
    float: right;
    padding-left: 15px;
    -moz-transition: width 700ms ease-in-out;
    -o-transition: width 700ms ease-in-out;
    transition: width 700ms ease-in-out;
}

nav.top-nav ul li .input-search input.search-header-input:focus {
    width: 100%;
}

nav.top-nav ul li .input-search button.material-icons.do-search {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    right: 0;
}

nav.top-nav ul li .input-search button.material-icons.do-search:hover {
    color: white;
}

nav.top-nav ul li .cart-login {
    min-width: 150px;
}

@media only screen and (max-width: 992px) {
    nav.top-nav ul li .cart-login {
        display: inline-block;
    }
}

nav.top-nav ul li .cart-login a {
    padding: 0;
}

nav.top-nav ul li .cart-login .cart {
    display: inline-block;
    position: relative;
}

nav.top-nav ul li .cart-login .cart a.popup-trigger {
    display: inline-block;
    position: relative;
    background: url("../images/cart-header.png") left center no-repeat;
    padding: 10px 10px 10px 45px;
}

nav.top-nav ul li .cart-login .login {
    position: relative;
    display: inline-block;
    padding-left: 10px;
}

@media only screen and (max-width: 600px) {
    nav.top-nav ul li .cart-login .login {
        border: none;
    }
}

nav.top-nav ul li .button-collapse {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
}

nav.top-nav ul li .button-collapse i {
    font-size: 36px;
}

@media only screen and (min-width: 600px) {
    nav.top-nav ul li .button-collapse i {
        font-size: 72px;
    }
}

nav.top-nav img.search-header {
    position: absolute;
    top: 8%;
    left: 135px;
}

@media only screen and (min-width: 992px) {
    nav.top-nav ul {
        width: 100%;
    }
    nav.top-nav div.input-search {
        position: relative;
        left: 70% !important;
    }
}

nav.top-nav input.search-header-input {
    width: 80%;
    border: none;
    height: 30px;
    opacity: 0.5;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

nav.top-nav .nav-header-mobile {
    padding-top: 30px;
}

nav.top-nav .nav-header-mobile i {
    font-size: 72px;
    cursor: pointer;
}

nav.top-nav .nav-header-mobile div {
    padding: 0 5px;
}

nav.top-nav .nav-header-mobile div span {
    color: #fff;
}

.border-l {
    border-left: 1px solid #fff;
}

.popup.popup-active {
    position: absolute;
    background: #fff;
    border: 3px solid #CBAD8B;
    z-index: 1000;
    right: -1.5em;
    top: calc(100% + 20px) !important;
    left: inherit;
    max-height: none;
    overflow: inherit;
}

@media only screen and (max-width: 600px) {
    .popup.popup-active {
        width: calc(320px - 3em);
    }
}

.popup.popup-active a {
    padding: 0;
}

.popup.popup-active:before {
    content: ' ';
    position: absolute;
    top: -35px;
    right: 30px;
    border: 17px solid transparent;
    border-bottom: 17px solid #E5C595;
    display: block;
    width: 0;
    height: 0;
}

.popup.popup-active:after {
    content: ' ';
    position: absolute;
    top: -24px;
    right: 36px;
    border: 11px solid transparent;
    border-bottom: 11px solid #fff;
    display: block;
    width: 0;
    height: 0;
}

.popup.popup-active.popup-cart {
    right: 0;
    width: 455px;
}

.popup.popup-active.popup-search {
    width: 455px;
}

.popup.popup-active.popup-form {
    width: 300px;
}

.popup.popup-active .remind-pass {
    right: -30px;
}

.popup img {
    position: static;
}

.popup img.close-active-cart {
    transform: translateY(-220%);
}

.popup .product {
    margin-bottom: 15px;
}

.popup .product .product-img-wrapper {
    border-right: 1px solid #E5C595;
}

.popup .product .product-img-wrapper .product-img {
    padding: 0;
}

.popup .total-price {
    padding: 10px;
}

nav ul li a:hover, nav ul li.active {
    background-color: transparent;
}

@media only screen and (min-width: 600px) {
    .lean-overlay {
        opacity: 0 !important;
    }
}

#close-sidenav {
    position: absolute;
    right: 0;
    top: 10px;
}

.section-title {
    width: 100%;
    background: url(../images/title.png) center center no-repeat;
    background-position: center right;
    text-align: center;
}

.section-title span {
    margin: 0 auto;
    font-size: 32px;
}

body .container {
    max-width: none;
    width: 90%;
}

img {
    max-width: 100%;
}

button:focus {
    outline: none;
    background-color: transparent !important;
    color: white;
}

body form .input-field .select-wrapper input.select-dropdown {
    border: none !important;
    border-bottom: 1px solid #8e5d36 !important;
    height: 25px !important;
    margin-bottom: 30px !important;
    padding: 0px !important;
}

button.dash {
    border: none;
    background: transparent;
    position: relative;
    display: inline-block;
}

button.dash:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 15%;
    border-bottom: 1px solid;
    width: 70%;
    transition: 1s;
}

button.dash:hover:after {
    width: 100%;
    left: 0;
}

div.btn-buy {
    display: inline-block;
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    padding: 3px;
    max-width: 100%;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
}

div.btn-buy button, div.btn-buy a {
    height: 100%;
    background: #fff;
    border: none;
    width: 100%;
    padding: 10px !important;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
}

div.btn-buy button:hover, div.btn-buy a:hover {
    background: transparent -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: transparent -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: transparent linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    color: #fff !important;
}

div.btn-buy button:active, div.btn-buy a:active {
    background: transparent -webkit-linear-gradient(-51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: transparent -moz-linear-gradient(-51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: transparent linear-gradient(-51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
}

.delete-product {
    display: inline-block;
    background: transparent url("../images/close.png") center center no-repeat;
    border: none;
    width: 20px;
    height: 20px;
}

.dib {
    display: inline-block !important;
}

.db {
    display: block !important;
}

/* label color */
.input-field label {
    font-size: 15px;
    color: #8E5D36 !important;
}

.input-field label.active {
    font-size: 15px;
    color: #8E5D36;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #8E5D36;
}

.input-field input:not([type=submit]) {
    border: 1px solid #8E5D36;
    height: 25px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.input-field.input-phone-wrapper:before {
    content: '+380';
    position: absolute;
    color: #8E5D36;
    top: 4px;
}

.input-field.input-phone-wrapper input.input-phone {
    margin-left: 40px;
    width: calc(100% - 40px);
}

/* label underline focus color */
.input-field input:not([type=submit]):focus {
    border: 1px solid #8E5D36;
    box-shadow: 0 1px 0 0 #8E5D36;
}

input[type=email]:focus {
    border: 1px solid #8E5D36;
    box-shadow: 0 1px 0 0 #8E5D36;
}

/* valid color */
.input-field input[type=text].valid {
    border: 1px solid #8E5D36;
    box-shadow: 0 1px 0 0 #8E5D36;
}

/* invalid color */
.input-field input[type=text].invalid {
    border: 1px solid #8E5D36;
    box-shadow: 0 1px 0 0 #8E5D36;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

.input-field input.error {
    border: 1px solid #d25151 !important;
}

div.help-block {
    position: absolute;
    display: none;
    height: 20px;
    top: -30px;
    color: #d25151;
}

div.help-block-error {
    position: relative;
    display: block;
}

:focus {
    outline: none;
}

::-moz-selection {
    background: #8E5D36;
    color: #fff;
}

::selection {
    background: #8E5D36;
    color: #fff;
}

.tabs {
    white-space: normal;
    overflow: visible;
    height: auto;
}

.tabs .tab {
    height: auto;
    overflow: visible;
    margin-bottom: 5px;
}

.tabs .tab a {
    color: #3B2313;
    width: 100%;
    padding: 0 10px;
    height: auto;
    overflow: visible;
    line-height: 25px;
    font-size: 16px;
    transition: color .28s ease;
}

@media only screen and (max-width: 360px) {
    .tabs .tab a {
        font-size: 14px;
    }
}

.tabs .tab a.active, .tabs .tab a:hover {
    background-color: transparent;
    color: #3B2313;
}

.tabs .indicator {
    background-color: #3B2313;
    background: #3B2313 -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: #3B2313 -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: #3B2313 linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
}

#buyproduct h4 {
    font-size: 2em;
}

#buyproduct .input-field input {
    margin-bottom: 15px;
}

#buyproduct .input-field:last-child input {
    margin-bottom: 0;
}

#buyproduct .input-field label {
    font-size: 16px;
}

@media only screen and (min-width: 992px) {
    #buyproduct {
        width: 400px;
    }
}

main .sub-title {
    width: 90%;
    margin: 0 auto;
}

main .padding-top38 {
    padding-top: 38px;
}

@media only screen and (min-width: 992px) {
    main .search-left {
        position: relative;
    }
}

main .page-header {
    min-width: 600px;
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
}

@media only screen and (min-width: 992px) {
    main .page-header {
        height: 100px;
    }
}

main .page-header .maxW {
    max-width: 100px;
}

main i {
    font-size: 72px;
    cursor: pointer;
}

main ul {
    width: 100%;
}

main ul li {
    display: inline-block;
}

main img.search-header {
    position: absolute;
    top: 8%;
    left: 135px;
}

@media only screen and (min-width: 992px) {
    main div.input-search {
        position: relative;
        left: 70% !important;
    }
}

main input.search-header-input {
    width: 150px;
    border: none;
    height: 30px;
    opacity: 0.5;
    background: #fff;
    border-radius: 10px;
}

main .nav-header-mobile {
    padding-top: 30px;
}

main .nav-header-mobile i {
    font-size: 72px;
    cursor: pointer;
}

main .nav-header-mobile div {
    padding: 0 5px;
}

main .nav-header-mobile div span {
    color: #fff;
}

main .page-main {
    background: url(../images/background.png) repeat-y;
    background-size: cover;
    padding: 40px 0;
}

main .page-main .content {
    width: 90%;
    height: 90%;
    /*overflow: hidden;*/
    border: 3px solid #E5C595;
    margin: 0px auto;
    background-color: #fff;
    padding: 50px;
}

@media only screen and (min-width: 992px) {
    main .page-main .content {
        border: none;
    }
}

@media only screen and (max-width: 992px) {
    main .page-main .content {
        padding: 0;
    }
}

.border-r {
    border-right: 1px solid #fff;
}

.title-range {
    position: absolute;
}

.header-first-section {
    min-width: 375px;
    margin-top: 20px;
}

.header-first-section span {
    padding: 10px;
    position: relative;
}

.header-first-section img {
    position: absolute;
    top: 10%;
    left: 10px;
}

.header-second-section input:focus {
    width: 220px;
}

.header-third-section {
    margin-left: 195px;
}

.header-third-section .displayNone {
    display: none;
}

.header-third-section span {
    position: relative;
}

.radio-form-catalog form p {
    height: 30px;
    margin: 0;
}

.radio-form-catalog form label {
    width: 200px;
}

.radio-form-catalog > .input-field > label {
    color: #fff !important;
}

.delivery-wrap {
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
}

@media only screen and (min-width: 992px) {
    .delivery-wrap {
        padding: 3px;
    }
}

.delivery-wrap hr {
    border: none;
    /* Убираем границу для браузера Firefox */
    color: #D5BE9A;
    /* Цвет линии для остальных браузеров */
    background-color: #D5BE9A;
    /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
    /* Толщина линии */
}

.delivery-wrap .delivery-wrap-content {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.delivery-wrap hr {
    color: #E69A46;
}

.delivery-wrap .delivery-title {
    color: #E69A46;
}

.delivery-wrap .delivery-content {
    background: #fff;
    height: 100%;
}

.delivery-wrap .delivery-content p{

}

.delivery-wrap .delivery-img {
    padding-bottom: 20px;
    background: #fff;
}

.delivery-wrap img {
    position: static;
    margin: 0 auto;
    width: 50%;
}

.cabinet {
    position: relative;
    padding: 25px;
}

.cabinet img.img-cabinet {
    width: 100%;
    max-width: 400px;
}

@media only screen and (max-width: 992px) {
    .cabinet img.img-cabinet {
        max-width: 250px;
    }
    
    .nav-wrapper .page-header .radio-form-catalog {
        margin-top: 30px;
        padding-left: 0;
    }
}

.cabinet img.img-close {
    position: absolute;
    width: 20px;
    height: auto;
    right: 3%;
}

@media only screen and (max-width: 992px) {
    .cabinet img.img-close {
        top: 5%;
    }
}

.cabinet .title-order {
    margin: 30px;
}

.cabinet hr {
    border: none;
    /* Убираем границу для браузера Firefox */
    color: #D5BE9A;
    /* Цвет линии для остальных браузеров */
    background-color: #D5BE9A;
    /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
    /* Толщина линии */
}

.cabinet img.img-cabinet3 {
    width: 100%;
    margin: 20px;
    max-width: 250px;
}

.cabinet .nav-cabinet {
    margin-bottom: 80px;
}

.cabinet .cabinet-form form {
    padding-top: 50px;
}

.cabinet .cabinet-client {
    position: relative;
}

.cabinet .cabinet-client:before {
    content: ' ';
    position: absolute;
    left: -13%;
    height: 10%;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #E69A46;
}

.cabinet ul li {
    padding-left: 5px;
}

@media only screen and (max-width: 992px) {
    .cabinet ul li {
        margin: 10px;
    }
}

.cabinet input.btn-save {
    background: none;
    border: 3px solid black;
    width: 150px;
    height: 50px;
}

.cabinet input.btn-save:focus {
    border: 3px solid black;
}

.page-wrap {
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    padding: 2px;
}

.page-wrap hr {
    border: none;
    /* Убираем границу для браузера Firefox */
    color: #D5BE9A;
    /* Цвет линии для остальных браузеров */
    background-color: #D5BE9A;
    /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
    /* Толщина линии */
}

@media only screen and (min-width: 992px) {
    .page-wrap {
        padding: 3px;
    }
}

.page-wrap-content {
    background: #fff;
    width: 100%;
    margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
    .page-wrap-content .about-content {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 992px) {
    .page-wrap-content .about-adress {
        /*padding: 50px 0 0 100px;*/
    }
}

.page-wrap-content .about-text {
    padding: 40px;
}

.page-wrap .margin-center {
    margin: 0 auto;
}

.page-wrap iframe {
    width: 100%;
}

.page-wrap .mapBox {
    padding: 0;
    height: 250px;
}
#map{
    height: 100%;
    width: 100%;
}
.thanks-wrap {
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    padding: 3px;
}

.thanks-wrap .thanks-wrap-content {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 100px 0;
}

.thanks-wrap .thanks-wrap-content img {
    width: 200px;
}

.sort li {
    margin: 10px 0;
    padding-right: 15px;
    color: #fff;
}

.sort li:first-child {
    padding-right: 5px;
    margin-right: 10px;
}

.sort li a {
    color: #fff;
}

.count-page {
    text-align: center;
}

.title-catalog {
    line-height: 75px;
    padding-right: 30px;
    border-right: 2px solid #fff;
}

@media only screen and (min-width: 1200px) {
    .item-width-destop {
        width: 20% !important;
    }
}

.catalog-background {
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    padding: 0 0 6px 0 !important;
}

.catalog-background .catalog-wrap-content {
    background: #fff;
    margin-bottom: 0;
    padding-top: 20px;
}

.catalog-background .catalog-wrap-content .page-device-modal {
    width: 40%;
    min-width: 600px;
    min-height: 600px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-25%);
    background: #fff;
    z-index: 1002;
    padding: 30px;
    border: 6px solid #CFB690;
}

@media only screen and (max-width: 993px) {
    .catalog-background .catalog-wrap-content .page-device-modal {
        width: 95%;
        left: 27%;
    }
}

.catalog-background .catalog-wrap-content .page-device-modal .img-wrap-device {
    width: 50%;
    display: inline-block;
}

.catalog-background .catalog-wrap-content .page-device-modal .modal-priceProduct {
    display: block;
}

.catalog-background .catalog-wrap-content .page-device-modal input.select-dropdown {
    height: 25px;
}

.catalog-background .catalog-wrap-content .page-device-modal .btn-modal-buy {
    width: 120px;
    height: 40px;
    margin-top: 70px;
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    padding: 1px 1px 1px 2px;
}

.catalog-background .catalog-wrap-content .page-device-modal .btn-modal-buy div {
    height: 100%;
    background: #fff;
}

.catalog-background .catalog-wrap-content .page-device-modal .modal-curent-btn {
    display: inline-block;
    padding-left: 10px;
    cursor: pointer;
}

.catalog-background .catalog-wrap-content .page-device-modal .modal-curent-btn span:nth-child(even) {
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0 7px 0 7px;
}

.catalog-background .catalog-wrap-content .page-device-modal img.close-modal {
    position: absolute;
    top: 3%;
    right: 3%;
    height: 10%;
    width: 30px;
    height: auto;
    cursor: pointer;
}

.catalog-background .catalog-wrap-content .page-device-modal .wrap-device-content {
    width: 50%;
    display: inline-block;
}

.catalog-background .catalog-wrap-content .page-device-modal .wrap-device-content input.select-dropdown {
    width: 50%;
    padding: 0 10px 0 10px;
    transform: translate(72%, 29%);
    border: 1px solid black;
}

.catalog-background .catalog-wrap-content .page-device-modal .wrap-device-content span.caret {
    width: 12px;
    height: 12px;
    transform: rotate(-48deg);
    right: 8%;
    top: 36%;
    color: transparent;
    border-left: 1px solid #8E5D36;
    border-bottom: 1px solid #8E5D36;
}

.catalog-background .catalog-wrap-content .page-device-modal .wrap-device-content label {
    top: 10px;
    font-size: 18px;
}

.catalog-background .catalog-wrap-content .slick-btn {
    display: block;
    width: 23px;
    height: 23px;
    background: linear-gradient(to right, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    transform: rotate(45deg) translateX(8px);
}

.catalog-background .catalog-wrap-content .slick-btn-wrap {
    position: absolute;
    width: 16px;
    height: 32px;
    overflow: hidden;
    top: 50%;
    cursor: pointer;
    z-index: 998;
}

.catalog-background .catalog-wrap-content .slick-btn-wrap.prev {
    transform: translateY(-50%);
    left: -32px;
}

@media only screen and (max-width: 993px) {
    .catalog-background .catalog-wrap-content .slick-btn-wrap.prev {
        left: -10px;
    }
}

.catalog-background .catalog-wrap-content .slick-btn-wrap.next {
    transform: translateY(-50%);
    right: -32px;
}

@media only screen and (max-width: 993px) {
    .catalog-background .catalog-wrap-content .slick-btn-wrap.next {
        right: -10px;
    }
}

.catalog-background .catalog-wrap-content .slick-btn-wrap.next .slick-btn {
    transform: rotate(45deg) translate(-6px, 11px);
}

.catalog-background .catalog-wrap-content .slick-prev {
    border: 20px solid transparent;
    border-width: 20px;
    border-style: solid;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    width: 20px;
}

.catalog-background .catalog-wrap-content .catalog {
    width: 50%;
}

.wrap-overflow {
    width: 300px;
    padding: 0 0 20px 0;
    overflow: hidden;
    overflow-y: visible;
}

@media only screen and (max-width: 600px) {
    .wrap-overflow {
        width: 250px;
    }
}

.wrap-overflow:not(:last-child) {
    border-right: 2px solid #CFB690;
}

.wrap-overflow.slick-active:last-of-type {
    border: none;
}

.products-wrapper-isotope .wrap-overflow {
    margin-bottom: 36px;
}

.wrap-overflow:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: -moz-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
}

.wrap-overflow .mwrap {
    border-right: 2px solid #cfb690;
    padding: 0 0 20px;
    overflow: hidden;
}

.wrap-overflow .wrap-items {
    width: 200%;
    transition: 1s;
    position: relative;
}

.wrap-overflow .wrap-items:hover {
    transform: translateX(-38%);
}

.wrap-overflow .wrap-items .wrap-text-block div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 10px;
}

.wrap-overflow .wrap-items .wrap-items-first-section {
    width: 50%;
}

.wrap-overflow .wrap-items .wrap-items-first-section .product-img {
    height: 256px;
}

.wrap-overflow .wrap-items .wrap-items-first-section .product-img img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 250px;
}

.wrap-overflow .wrap-items .wrap-items-first-section:after {
    content: "";
    width: 10px;
    height: 20px;
    position: absolute;
    left: 25%;
    margin-left: -5px;
    bottom: -20px;
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
}

.wrap-overflow .wrap-items .wrap-items-second-section {
    width: 35%;
    padding-left: 20px;
}

.wrap-overflow .wrap-items .wrap-items-second-section .product-title {
    max-height: 60px;
    overflow: hidden;
}

.wrap-overflow .wrap-items .wrap-items-second-section .product-price span {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 10px;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
}

.wrap-overflow .wrap-items .wrap-items-second-section .product-description {
    max-height: 177px;
    overflow: hidden;
    margin-bottom: 20px;
}

.wrap-overflow .wrap-items .wrap-items-second-section .product-description p {
    margin: 0;
}

.wrap-overflow .wrap-items .block-bottom {
    width: 10px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 90%;
    z-index: 1000;
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
}

.items-row-wrapper {
    padding: 0;
    padding-bottom: 6px;
    margin-bottom: 30px;
    background: -moz-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
}

.items-row-wrapper .items-row {
    background: #fff;
}

.items-row-wrapper .items-row:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: -moz-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654b2e 0%, #3f2b17 55%, #3c2815 59%, #201003 100%);
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
    font-family: "slick";
    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}

.slick-prev:before {
    content: "←";
}

[dir="rtl"] .slick-prev:before {
    content: "→";
}

.slick-next {
    right: -25px;
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}

.slick-next:before {
    content: "→";
}

[dir="rtl"] .slick-next:before {
    content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}

.cart-page {
    padding: 0;
}

@media only screen and (min-width: 600px) {
    .cart-page {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .cart-page {
        width: 200%;
    }
}

.cart-page .move-to-checkout {
    transition: transform 1s ease;
}

.cart-page .margin-center {
    margin: 0 auto;
}

.cart-page .product {
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #d0b691;
}

.cart-page .product .product-total .count {
    width: 30px;
    height: 30px;
    text-align: center;
}

.cart-page .title-form-new-customer {
    position: relative;
    padding-left: 30px;
    display: inline-block;
    line-height: 17px;
}

.cart-page .title-form-new-customer.n1:before {
    content: '1';
}

.cart-page .title-form-new-customer.n2:before {
    content: '2';
}

.cart-page .title-form-new-customer:before {
    content: "";
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    font-size: 22px;
    position: absolute;
    color: #fff;
    left: 0;
    top: 50%;
    margin-top: -13px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #e69a46;
}

.cart-page .wrap-new-customer span.caret {
    width: 12px;
    height: 12px;
    transform: rotate(-48deg);
    right: 3%;
    top: 17%;
    color: transparent;
    border-left: 1px solid #8E5D36;
    border-bottom: 1px solid #8E5D36;
}

.cart-page input.select-dropdown {
    border: 1px solid #8E5D36 !important;
    height: 25px;
    padding-left: 10px;
}
#new_customer input[type=text]{
    padding: 0 16px;
    box-sizing: border-box;
}

.cart-page .cart-your-order {
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    padding: 3px;
    height: 100%;
    height: 602px;
}

@media only screen and (max-width: 992px) {
    .cart-page .cart-your-order {
        background: none;
    }
}

.cart-page .cart-your-order img {
    width: 100%;
}

.cart-page .cart-your-order img.close {
    width: 20px;
    height: auto;
    transform: translateX(-20px);
}

.cart-page .cart-your-order .products {
    overflow-y: auto;
    max-height: 375px;
}

.cart-page .cart-your-order .cart-your-order-wrap {
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 10px;
    padding-bottom: 30px;
}

.cart-page .cart-your-order .cart-your-order-wrap div.row {
    margin: 0;
}

.cart-page .cart-your-order .cart-your-order-title {
    line-height: 50px;
    display: block;
    font-size: 25px;
    border-bottom: 1px solid #D0B691;
    margin: 0 auto;
    text-align: center;
}

.cart-page .cart-your-order .cart-checkout-btn {
    position: absolute;
    bottom: 25px;
    left: 0;
}

.cart-page .cart-signIn-form input {
    border: 1px solid black;
    height: 25px;
}

.cart-page .cart-signIn-form select {
    display: block;
    height: 25px;
}

.cart-page .cart-signIn-form label {
    position: static;
}

.cart-page .cart-signIn img {
    margin: 30px;
    width: 35%;
}

.cart-page div.btn-signIn {
    display: inline-block;
    width: 100px;
    height: 40px;
    background: -moz-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -webkit-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -o-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: -ms-linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    background: linear-gradient(51deg, #654B2E 0%, #3F2B17 55%, #3C2815 59%, #201003 100%);
    padding: 3px;
    cursor: pointer;
}

.cart-page div.btn-signIn div {
    height: 100%;
    background: #fff;
}

#regular_customer .input-field input {
    max-width: 320px;
}

/* Ion.RangeSlider
// css version 2.0.3
// © 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/
/* =====================================================================================================================
// RangeSlider */
.irs {
    position: relative;
    display: block;
    margin-top: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.irs-line {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none !important;
}

.irs-line-left, .irs-line-mid, .irs-line-right {
    position: absolute;
    display: block;
    top: 0;
}

.irs-line-left {
    left: 0;
    width: 11%;
}

.irs-line-mid {
    left: 9%;
    width: 82%;
}

.irs-line-right {
    right: 0;
    width: 11%;
}

.irs-bar {
    position: absolute;
    display: block;
    left: 0;
    width: 0;
}

.irs-bar-edge {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.irs-shadow {
    position: absolute;
    display: none;
    left: 0;
    width: 0;
}

.irs-slider {
    position: absolute;
    display: block;
    cursor: default;
    z-index: 1;
}

.irs-slider.type_last {
    z-index: 2;
}

.irs-min {
    position: absolute;
    display: block;
    left: 0;
    cursor: default;
}

.irs-max {
    position: absolute;
    display: block;
    right: 0;
    cursor: default;
}

.irs-from, .irs-to, .irs-single {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
}

.irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.irs-with-grid .irs-grid {
    display: block;
}

.irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background: #000;
}

.irs-grid-pol.small {
    height: 4px;
}

.irs-grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    padding: 0 3px;
    color: #000;
}

.irs-disable-mask {
    position: absolute;
    display: block;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    cursor: default;
    background: transparent;
    z-index: 2;
}

.irs-disabled {
    opacity: 0.4;
}

.lt-ie9 .irs-disabled {
    filter: alpha(opacity=40);
}

.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}

/* Ion.RangeSlider, Nice Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/
/* =====================================================================================================================
// Skin details */
.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background: url(../images/sprite-skin-nice.png) repeat-x;
}

.irs {
    height: 40px;
}

.irs-with-grid {
    height: 60px;
}

.irs-line {
    height: 8px;
    top: 25px;
}

.irs-line-left {
    height: 8px;
    background-position: 0 -30px;
}

.irs-line-mid {
    height: 8px;
    background-position: 0 0;
}

.irs-line-right {
    height: 8px;
    background-position: 100% -30px;
}

.irs-bar {
    height: 8px;
    top: 25px;
    background-position: 0 -60px;
}

.irs-bar-edge {
    top: 25px;
    height: 8px;
    width: 11px;
    background-position: 0 -90px;
}

.irs-shadow {
    height: 1px;
    top: 34px;
    background: #000;
    opacity: 0.15;
}

.lt-ie9 .irs-shadow {
    filter: alpha(opacity=15);
}

.irs-slider {
    width: 22px;
    height: 22px;
    top: 17px;
    background-position: 0 -120px;
}

.irs-slider.state_hover, .irs-slider:hover {
    background-position: 0 -150px;
}

.irs-min, .irs-max {
    display: none;
    color: #999;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 3px;
    background: rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    top: 40px;
    font-size: 14px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid-pol {
    background: #99a4ac;
}

.irs-grid-text {
    color: #99a4ac;
}

.scrollable {
    position: relative;
}

.scrollable:focus {
    outline: 0;
}

.scrollable .viewport {
    position: relative;
    overflow: hidden;
}

.scrollable .viewport .overview {
    position: absolute;
}

.scrollable .scroll-bar {
    display: none;
}

.scrollable .scroll-bar.vertical {
    position: absolute;
    right: 0;
    height: 100%;
}

.scrollable .scroll-bar.horizontal {
    position: relative;
    width: 100%;
}

.scrollable .scroll-bar .thumb {
    position: absolute;
}

.scrollable .scroll-bar.vertical .thumb {
    width: 100%;
    min-height: 10px;
}

.scrollable .scroll-bar.horizontal .thumb {
    height: 100%;
    min-width: 10px;
    left: 0;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Default skin*/
.scrollable.default-skin {
    padding-right: 10px;
    padding-bottom: 6px;
}

.scrollable.default-skin .scroll-bar.vertical {
    width: 6px;
}

.scrollable.default-skin .scroll-bar.horizontal {
    height: 6px;
}

.scrollable.default-skin .scroll-bar .thumb {
    background-color: black;
    opacity: 0.4;
    border-radius: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.scrollable.default-skin .scroll-bar:hover .thumb {
    opacity: 0.6;
}

/*Gray skin*/
.scrollable.gray-skin {
    padding-right: 17px;
}

.scrollable.gray-skin .scroll-bar {
    border: 1px solid gray;
    background-color: #d3d3d3;
}

.scrollable.gray-skin .scroll-bar .thumb {
    background-color: gray;
}

.scrollable.gray-skin .scroll-bar:hover .thumb {
    background-color: black;
}

.scrollable.gray-skin .scroll-bar.vertical {
    width: 10px;
}

.scrollable.gray-skin .scroll-bar.horizontal {
    height: 10px;
    margin-top: 2px;
}

/*Modern skin*/
.scrollable.modern-skin {
    padding-right: 17px;
}

.scrollable.modern-skin .scroll-bar {
    border: 1px solid gray;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888;
    box-shadow: inset 0 0 5px #888;
}

.scrollable.modern-skin .scroll-bar .thumb {
    background-color: #95aabf;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #536984;
}

.scrollable.modern-skin .scroll-bar.vertical .thumb {
    width: 8px;
    background: -moz-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #95aabf), color-stop(100%, #547092));
    background: -webkit-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: -o-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: -ms-linear-gradient(left, #95aabf 0%, #547092 100%);
    background: linear-gradient(to right, #95aabf 0%, #547092 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=1 )";
}

.scrollable.modern-skin .scroll-bar.horizontal .thumb {
    height: 8px;
    background-image: linear-gradient(#95aabf, #547092);
    background-image: -o-linear-gradient(#95aabf, #547092);
    background-image: -moz-linear-gradient(#95aabf, #547092);
    background-image: -webkit-linear-gradient(#95aabf, #547092);
    background-image: -ms-linear-gradient(#95aabf, #547092);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=0 )";
}

.scrollable.modern-skin .scroll-bar.vertical {
    width: 10px;
}

.scrollable.modern-skin .scroll-bar.horizontal {
    height: 10px;
    margin-top: 2px;
}
.social-icon{
    display: inline-block!important;
    width: 44px;
    padding: 0!important;
}
.social-icon img{
    width: 100%;
}
.full-width{
    width: 100%;
}
.sorted-by{
    padding-right: 10px;
    margin-right: 10px;
    display: inline-block;
}
.sort{
    display: inline-block;
    width: auto;
}
.count-inp{
    text-align: center;
    line-height: 39px;
}
.count-inp span{
    color: #8E5D36;
    font-size: 28px;
    font-family: 'MuseoCyrl';
    cursor: pointer;
    vertical-align: middle;
}
.count-inp input{
    border: none;
    border-left: 1px solid #8E5D36;
    border-right: 1px solid #8E5D36;
    padding: 5px 10px;
    height: auto;
    width: 20%;
    text-align: center;
    margin: 0 10px;
}

.quantity-btn {
    cursor: pointer;
}
.product-gallery-wrap{
}
.product-gallery-item{
    height: 380px;
    overflow: hidden;
}
.product-gallery-item img{
    width: 100%;
}
.slick-dots li{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid #201003;
}
.slick-dots li button{
    display: none;
}
.slick-dots .slick-active{
    background: #201003;
}
.label-for-select{
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    text-align: center;
}
.option-select{
    display: inline-block;
    width: 50%;
}
.option-select .caret{
    color: #201003!important;
    top:0!important;
}
#selectOptionForm .option-select .select-dropdown{
    margin-bottom: 0!important;
}
#modallogin .modal-content{
    padding: 24px 0;
}
#modallogin .modal-content .row{
    margin: 0!important;
}
/*todo: fix problem in frontend\views\catalog\index.php */
.clear.slick-slide {
    display: none;
}

.pager {
    position: relative;
}
.pagination{
    position: absolute;
    top: -13px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

.pagination li span {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    color:#ddd;
}

.pagination li.prev {
    margin-right: 60px;
}